<header>
  <nav>
    <ul>
      <li><a id="dashBoard" routerLink="/dashboard"  [ngClass]="{'navbar-active-page':currentPage==='/dashboard'}">Dashboard</a>
      </li>
      <li> <a type="button"routerLink="/heroes" [ngClass]="{'navbar-active-page':currentPage==='/heroes'}"> Heroes</a></li>
    </ul>
  </nav>
  <div id="hamburger-icon" (click)="toggleShowMenu()" [ngClass]="{'open': true==isMenuShowing$}">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <ul class="mobile-menu">
      <img src="assets/hero.default.png" class="profile-picture-glowing">
      <li [ngClass]="{'navbar-active-page':currentPage==='/dashboard'}">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li [ngClass]="{'navbar-active-page':currentPage==='/heroes'}">
        <a routerLink="/heroes" > Heroes</a>
      </li>
    </ul>
  </div>
  <div id="brand"><a href="/">Tour Heroes</a></div>
</header>
