body {
  margin: 0;
  font-family:cursive;
}

.topnav {
  overflow: hidden;
  background-color: #3f525c;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.onPage{
  background: #a458a2;
}

.navBarTitle{
  margin-left: 63%;
  font-family: fantasy;}



