.top-nav {
  overflow: hidden;
  background-color: #3f525c;
  animation: Load 300ms ease-in;
}

.top-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar-title{
  margin-left: 63%;
  font-family: fantasy;}

.navbar-active-page{
  background-color: #a458a2;
}



