@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navbar-active-page{
  background-color: #5e435d;
  border-radius: 5px;
  padding: 5px 8px;
}

.profile-picture-glowing{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #cddc39;
  filter: drop-shadow(0 0 8px #ff5722);
  margin-bottom: 10px;
}

body {
  background-color: #353836;
  color: white;
  font-family: sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 14%, rgba(188,60,192,1) 35%, rgba(0,0,0,1) 64%, rgba(217,18,199,1) 82%, rgba(0,0,0,1) 90%);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: var(--mainColor);
  font-family: 'Permanent Marker', cursive;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#nav-content,
#dashBoard {
  border-radius: 5px;
  padding: 5px 8px;
  margin: 8px;
}

#nav-content {
  border: 1px solid #498afb;
}

#dashBoard a {
  color: #ff3860;
}

#nav-content a {
  color: #498afb;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 11px;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 8px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: rgb(0,0,0);
  background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 14%, rgba(188,60,192,1) 35%, rgba(0,0,0,1) 64%, rgba(217,18,199,1) 82%, rgba(0,0,0,1) 90%);
  animation: slideRight 600ms ease-in-out;
  padding: 20px;
}

.mobile-menu {
  display: none;
  background-color: var(--mainColor1);
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  z-index: 2;
  padding: 20px;
}

.mobile-menu__link{
  width: 100%;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}
