/*setting up background to for the hero details  modal*/
.hero-details-dark-background{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 900;
}

/*stlying the card*/
.hero-details-card {
  width: 30%;
  margin: 331px auto;
  padding: 35px;
  border: 2px solid #18606a;
  border-radius: 2%;
  text-align: center;
  transition: all 0.5s ;
  background: #3f525c;
  color: #e6e6e6;
}

.hero-details-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: all 0.5s ease-in;
  background: #3f525c;
}

.hero-details-card-buttons{
  font-size: 1em;
  padding: 10px;
  color: #617268;
  border: 2px solid #2a2a49;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.hero-details-card-buttons:hover{
  background: #2a2a49;
}

button, input, select, textarea {
  font-family: cursive;
  color: #617268;
}

/*////////////adding media query////////////////////////////////////*/
@media screen and (max-width: 700px){
  .hero-details-card{
    width: 70%;
  }
}
