<div class="messages-component-container">
  <div class="messagesDelete">
      <span class="cross-sign" (click)="MessageServiceInMessagesComponent.clear()">
         <div class="cross-sign-circle"></div>
         <div class="cross-sign-first-line"></div>
         <div class="cross-sign-second-line"></div>
      </span>
  </div>
  <!--START OF MESSAGES-->
  <div class="messeges">
    <h2>Messages:</h2>
    <div *ngFor="let message of MessageServiceInMessagesComponent.messages">
      <div class="container" *ngIf="MessageServiceInMessagesComponent.messages.length" >
        <div class="message">
          <p class="message-content" >{{message}}</p>
          <div class="message-timestamp-left">SMS 13:37</div>
        </div>
      </div>
    </div>
  </div>
</div>
