.messages-component-container{
  display:flex;
}

/*messages style */
.message {
  position: relative;
  margin:0 0 1% 0;
  padding: 10px;
  background-color: #97C6E3;
  width: 200px;
  height: 79px;
  text-align: left;
  font: 400 .9em 'Open Sans', sans-serif;
  border: 1px solid #97C6E3;
  border-radius: 10px;
  animation: Load 300ms ease-in;
}

.message-content {
  padding: 0;
  margin: 0 0 3px;
}

.message-timestamp-left {
  position: absolute;
  font-size: .85em;
  font-weight: 300;
  bottom: 5px;
  left: 5px;
}

.message:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #97C6E3;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1%;
  left: -17px;
}

/*circle drawing*/
.cross-sign {
  display: inline-block;
  width: 22px;
  height: 22px;
  position: relative;
  transform: rotate(45deg);
}

.cross-sign-circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 11px;
  left: 0;
  top: 0;
}

.cross-sign-first-line,
.cross-sign-second-line {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cross-sign-first-line {
  width: 3px;
  height: 9px;
}

.cross-sign-second-line {
  width: 9px;
  height: 3px;
}

.cross-sign-first-line :hover{
  background-color: black;
}
