/* You can add global styles to this file, and also import other style files */
/*adding animations*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes Load {
  0%{
    transform:translateY(-100%);
  }

  100%{
    transform: translateY(0%);
  }
}

@keyframes slideRight {
  0%{
    transform:translateX(-100%);
  }

  100%{
    transform: translateX(0%);
  }
}

/*global colors*/
* {
  --mainColor: #a458a2;
  --mainColorDark: #643563;
  --mainColor1: #3f525c;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-color: var(--mainColor);
  transition: .3s;
}

.btn:hover{
  color: #e6e6e6;
  background-color: var(--mainColorDark);
}

