/* You can add global styles to this file, and also import other style files */
/*adding animations*/
@keyframes Load {
  0%{
    transform:translateY(-100%);
  }

  100%{
    transform: translateY(0%);
  }
}

@keyframes slideRight {
  0%{
    transform:translateX(-100%);
  }

  100%{
    transform: translateX(0%);
  }
}

/*global colors*/
* {
  --mainColor: #a458a2;
  --mainColorDark: #643563;
  --mainColor1: #3f525c;
}

/*global font*/
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding:0;
}

/*global button styles*/
.btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-color: var(--mainColor);
  transition: .3s;
}

.btn:hover{
  color: #e6e6e6;
  background-color: var(--mainColorDark);
}

