/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  position: relative;
  cursor: pointer;
}

.heroes li:hover {
  left: .1em;
}

.heroes a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.heroes a:active {
  background-color: #525252;
  color: #fafafa;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.list-title{
  background: var(--mainColor);
  color: #ffffff;
}

.list-title:hover{
  background-color: var(--mainColor);
  color: #fffdfd;
}

.listTextContent{
  text-align: center;
  font-size: large;
}

h2{
  text-align: center;
  margin-bottom: 18px;
}

.hero-card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.hero-card {
  transition: .3s;
  border: 1px solid var(--mainColorDark);
  border-radius: 6px;
  overflow: hidden;
}

.hero-card-info{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-card img{
  width: 100%;
}

.hero-card-name{
  font-size: 20px;
  cursor: pointer;
}

.hero-card-btn{
  width: 100%;
}

.hero-card-id {
  background: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 12px;
  display: inline-block;
  width: max-content;
}

.hero-card-description{
  color: grey;
  font-size: 14px;
}

.hero-card:hover {
  box-shadow: 0 0 20px 0 rgba(164, 88, 162, .2);
  transform: translate(0, -15px);
}

@media (min-width: 576px){

  .hero-card-container {
    grid-template-columns: repeat(2,1fr);
  }

}

@media (min-width: 768px){
  .hero-card-container {
    grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 992px){
  .hero-card-container {
    grid-template-columns: repeat(4,1fr);
  }
}
