<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<div class="container">
      <h2>My Heroes</h2>
    <div id="searchComponent" >
      <app-hero-search></app-hero-search>
    </div>
  <div class="list-group">
    <a  class="list-group-item list-group-item-action list-title">
      <h2>
        Heroes List
      </h2>
    </a>
    <div *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}"  class="list-group-item list-group-item-action listTextContent">
        <span class="heroName"> {{hero.name}} </span>
        <span class="heroId">Hero Number:{{hero.id}}</span>
      </a>
      <button type="button" class="btn delete-hero-button" title="delete hero"
              (click)="delete(hero)">Delete Hero</button>
    </div>
  </div>
  <label for="new-hero">Hero name: </label>-->
  <input id="new-hero" #heroName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); ">
    Add hero
  </button>
</div>
