<div class="container">
  <h2>My Heroes</h2>
  <div id="searchComponent">
    <app-hero-search></app-hero-search>
  </div>
  <div>
    <h2>Heroes List</h2>
    <div class="hero-card-container">
      <div class="hero-card" *ngFor="let hero of heroes">
        <img  src="../../assets/hero.default.png" alt="">
        <div class="hero-card-info">
          <span class="hero-card-id">Hero Number:{{hero.id}}</span>
          <h3 routerLink="/detail/{{hero.id}}" class="hero-card-name">{{hero.name}}</h3>
          <p class="hero-card-description">Lorem ipsum dolor, sit amet amet amet elit. amet, doloremque sad dad is looking in
            here.</p>
          <button type="button" class="hero-card-btn btn" title="delete hero" (click)="delete(hero)">Delete
            Hero</button>
        </div>
      </div>
    </div>
  </div>
  <label for="new-hero">Hero name: </label>-->
  <input id="new-hero" #heroName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); ">
    Add hero
  </button>
</div>

<div *ngFor="let hero1 of heroes2">
  {{hero1}}
</div>

